.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-crud {

    .confirmation-content {
        display: flex;
        align-items: center;
        justify-content: center;
    };

}